.whoWeAre {
    display: block;
    float: left;
    margin: 0px 110px 20px;
}

.ourHistory {
    display: block;
    float: right;
}

.whatWeBelieve{
    display: block;
    float: none;
}